<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>jfunctional</title>
  </properties>

  <body>
    <subsection name="jfunctional">
      <p>The <var>jfunctional</var> package implements a set of functions
      and types for assisting with a functional style of programming
      in Java.</p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li><tt>OptionType</tt> for optional values.</li>
        <li><tt>Pair</tt> type for pairs of values.</li>
        <li><tt>FunctionType</tt> for total functions.</li>
        <li><tt>ProcedureType</tt> for total procedures (void-returning functions).</li>
        <li><tt>PartialFunctionType</tt> for partial functions.</li>
        <li><tt>PartialProcedureType</tt> for partial procedures (void-returning functions).</li>
        <li>Full unit test coverage.</li>
        <li><a href="https://www.osgi.org/">OSGi</a>-ready.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
